.InputStyle {
    display: flex;

    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary);

    padding: 0.5rem 0.5rem;
    font-size: 1rem;

    /* transition-property: color, background-color, border-color, text-decoration-color, fill, stroke; */
    /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    transition-duration: 300ms;
}

.InputStyle:focus {
    outline: none;

}