.InputStyle {
    /* display: flex; */

    width: 100%;
    border-radius: var(--border-radius);

    border: none;

    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--primary);
    background: rgb(214, 214, 214);
}

.InputStyle:focus {
    outline: none;

}