.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}

.button.fullWidth {
    width: 100%;
}

.button.primary {
    background: linear-gradient(to left, var(--primary), var(--secondary));
    color: var(--primary-foreground-rgb);

}

.button.primary:hover {
    box-shadow: var(--hover-shadow);
}

.button.secondary {
    background-color: var(--secondary);
    color: black;
}

.button.secondary:hover {
    background: linear-gradient(to left, var(--primary), var(--secondary));
    color: var(--text-color);
    box-shadow: var(--hover-shadow);
}


.button.danger {
    background-color: var(--destructive);

}

button.ghost {
    background: none;
}

.button.ghost:hover {
    text-decoration: underline;
}







.button.danger:hover {
    background-color: #f87171;
}



.button.outline {
    background: var(--element-secondary-color);
    border: #2563eb;
    border-width: 10px;

}

.button.outline:hover {
    background-color: #93c5fd;

}

.button.small {

    font-size: 0.75rem;
}

.button.large {
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.button.link {
    text-underline-offset: 4px;
    background: none;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0;
    cursor: pointer;

}

.button.link:hover {
    text-decoration: underline;
}