.LandingLayout {
  height: 100%;
}

.LandingLayoutMain {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.landingPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.landingPageIntroduction {
  margin-bottom: 1rem;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  padding: 1rem;
  border: 10px;
  background: linear-gradient(to right, var(--background-primary-color-dark), var(--background-secondary-color-dark));
  border-color: var(--primary-border-color-dark);
  border-radius: var(--border-radius);

}