.LandingLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.LandingLayoutMain {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.landingPage {
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.landingPageIntroduction {
  margin-bottom: 1rem;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  padding: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 100%);
  color: transparent;


  border-radius: var(--border-radius);
}

.landingPageIntroduction p {
  background-image: linear-gradient(to left, #000000 0%, #FFFFFF 100%);
  background-clip: text;
}


.slider {
  border-radius: var(--border-radius);
  background: linear-gradient(to right, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 100%);

}

.slider h1 {
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  background-clip: text;


}


@media (max-width: 768px) {

  .landingPage h1 {
    font-size: 2rem;
    line-height: 1;
  }
}