.CardWrapper{
    width: 22rem;
    border-radius: 15px;
    -webkit-box-shadow: 7px 6px 22px 0 rgba(199,127,4,1);
    -moz-box-shadow: 7px 6px 22px 0 rgba(199,127,4,1);
    box-shadow: 7px 6px 22px 0 rgba(199,127,4,1);
    padding: 1rem;
}

.authHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.Social{
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
}
.Form{
    margin-top: 1.5rem ;
}
.formInput{
    margin-top: 1rem;
}