.authCard{
    -webkit-box-shadow: 7px 6px 22px 0 rgb(199, 127, 4);
    -moz-box-shadow: 7px 6px 22px 0 rgb(199, 127, 4);
    box-shadow: 7px 6px 22px 0 rgb(199, 127, 4);
    border-radius: 15px;
}

.CardWrapper{

    width: 22rem;

}
.Form{
    width: 100%;
}


.authHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.Social{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.formInput{
    margin-right: 1rem;

}

.NewVerification{

}