.AuthLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.Content {
    flex-grow: 1;
    /* Grow to fill the available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}