.Navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 40rem;

    padding: 0.5rem;

}

.Navbar>div {
    display: flex;
    gap: 0.5rem;
}